doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="twitter:url" content= url property="og:url")
    meta(name="twitter:title" content= title property="og:title")
    meta(name="twitter:description" content= description property="og:description")
    meta(content= image property="og:image")
    meta(content= article property="og:type")
    meta(name="twitter:card" content="summary")
    title RentGlobal Real Estate
  body
    h1= title
    img(src= image alt= title)
    p= description
