$mbsc-windows-accent: #d7df23;
$mbsc-windows-frame-accent: #d7df23;
$mbsc-windows-frame-text: #525252;
$mbsc-windows-frame-background: #ffffff;

// @import "~@mobiscroll/react/dist/css/mobiscroll.scss";
